body {background-color: #222f3e;
   font-size: 18px;
   position: relative;
   color: white;
   font-family: Helvetica;
 }
h2{
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}
.image{
  margin-left: 45vw;
}
.image1{
  margin-left: 30vw;
  position: absolute;
  margin-top: 27vh;
  z-index: 100;
}
.lien1{
  margin-left: 34vw;
  position: absolute;
  margin-top: 60vh;
  z-index: 100;
  color: black;
}
.backimage{
  position: absolute;
  width: 19vw;
  height: 69vh;
  background-color: #1dd2af;
  margin-left: 79.1vw;
  margin-top: 29vh;
}
.backimage1{
 position: absolute;
  width: 19vw;
  height: 69vh;
  background-color: #1dd2af;
margin-top: 29vh;
}
.chemin{
  margin-top: 30vh;
  margin-left: 2vw;
  background-color: #222f3e;
  color:  #1dd2af;
}
h2:hover{
  color: #1dd2af;
}
.createdossier{
  margin-left: 61vw;
  margin-top: 35vh;
  position: absolute;
}
.createfichier{
  margin-left: 61vw;
  margin-top: 45vh;
  position: absolute;
}
.upload{
  margin-left: 20vw;
  margin-top: 70vh;
  position: absolute;
}
.create1 {
  margin-left: 73vw;
  margin-top: 35.5vh;
  position: absolute;
  font-weight: bold;
   color: white;
   border-radius: 20px;
   background: none;
    border: 2px solid white;
     opacity: 70%;
     font-size: 20px;
   }
   .create{
     margin-left: 73vw;
     margin-top: 45vh;
     position: absolute;
     font-weight: bold;
      color: white;
      border-radius: 20px;
      background: none;
       border: 2px solid white;
        opacity: 70%;
        font-size: 20px;
      }
      .ok {
        margin-left: -59vw;
        margin-top: 45vh;
        position: absolute;
        font-size: 15px;
        padding: 10px;
        border-radius: 15px;
         opacity: 80%;
          background: none;
          color: black;
           border: 2px solid black;
           width: 15vw;
         }
         .coller{
           margin-left: -87vw;
           margin-top: 60vh;
           position: absolute;
           border: 2px solid black;
           width: 15vw;
         }
         #upload {
           margin-left: 25vw;
           margin-top: 78vh;
           position: absolute;
           font-size: 15px;
           padding: 10px;
           border-radius: 15px;
           opacity: 80%;
           background: none;
           color: white;
            border: 2px solid Gainsboro;
          }

a {
  color: white;
  text-decoration: none;
}
button {
  color: white;
  font-size: 18px;
   background: none;
   border: none;
 }

 .fileariane {
   border-radius: 5px;
    color: black;
    border: none;
   font-weight: bold;
   background-color:#222f3e ;
    padding: 5px;
    margin-right: 0px;
   border: 1px solid #1dd2af;
 }

p {
  color: white;
  position: absolute;
  font-size: 20px;
   left:560px;
   top: 18px;
   font-weight: bold;
   background-color: white;
    padding: 6px;
    box-shadow: 5px 10px 10px black;
  }
#coller {
  font-size: 18px;
  padding: 10px;
  border-radius: 15px;
  opacity: 80%;
  background: none;
  color: black;
  position: absolute;
  left: 450px; top: 20px;
   border: 2px solid black;
 }
input {height: 18px; border-radius: 10px; opacity: 70%; color: black; padding: 8px; margin-bottom: 15px;}
::placeholder {text-align: center; font-family: Helvetica;}


.rien{
  margin-left: 8vw;
  margin-top: 45vh;
  position: absolute;
  color: #1dd2af;
  background-color: #222f3e;
}
#traitement {
background-color: #1dd2af;
margin-top: 10px;
 border-radius: 10px;
 padding: 0.5px;
}
#trash {z-index: 900;position: absolute; left: 90%; top: 600px; background: none; border-radius: 100px; height: 120px; width: 120px; color: black;padding: 1px 6px; font: 400 13.3333px Arial; border-width: 2px; border-style: outset; border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));}
#menu {background-color: #1dd2af; border-bottom: 2px solid grey;
padding: 30px; margin: 20px; width: 900px; height: 100px; margin: auto; margin-top: 60px;}
#content {background-color: #222f3e;box-shadow: 10px 5px 10px 10px black; width: 900px; margin: auto; padding: 30px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
#r-actions {float: right; margin-top: -100px; margin-right: 250px; position: relative;}
#display {display: flex; justify-content:space-evenly; flex-direction: row; flex-wrap: wrap; width: 900px;  height: 400px; margin-top: 30px;}



#rename {width: 300px; margin: auto; margin-top: 20px;}

#restore {display:block; color: Gainsboro; background-color: SlateBlue; margin-top: 10px; border-radius: 10px; padding: 5px;}
#restore:hover {font-size: 18px; font-weight: bold;}

/* OPTIONS HOVER */
.links {list-style-type: none;}
.links .action{display: none;}
.links:hover .action{display:block; color: Gainsboro;}

.action:hover {font-size: 19px; font-weight: bold;}
